<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js'></script>
<script src='//code.jquery.com/jquery-2.1.1.min.js'></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src='/vendor/angular-google-maps.min.js'></script>
<style type="text/css">
	.text-warning {
		color:red;
	}

</style>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="TextAreaWithLimitCtrl">
		<div class="row">
		
		<div class="col-md-7">
			<google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
				<div ng-repeat="species in data.layers">
					<rectangle bounds="getBounds($index); boundsArray[$index];" fill="'#FFFFFF .5'" visible="map.showMap[$index]" ng-init="map.showMap[$index]=false"></rectangle>
				</div>
			</google-map>
		</div>
		<div class="col-md-5">
			<div id ="fishlist" >
				<div id ="item" class="btn btn-default" ng-repeat="species in data.layers"  ng-class="{'button': !map.showMap[$index], 'button active': map.showMap[$index]}" ng-click="map.showMap[$index]=!map.showMap[$index]; getWiki($index);">{{ species.name }}</div>
			</div>

		</div>
		</div>	
		<div id ="wiki"> 
			<div class="row">
				<div class="col-md-10">
					<div ng-bind-html="wikiHTML"></div>
				</div>
				<div class="col-md-2">
					<div class="btn btn-success btn-lg" ng-if="whenInvaded"> {{ whenInvaded }}</div>	
				</div>
			</div>
			
		</div>
			
	</div>

</body>
<script type="text/javascript">


	// var TextAreaWithLimitCtrl = function ($scope) {
		
	// 	$scope.remaining = function () {
	// 		return 140 - $scope.message.length;
	// 	};

	// 	$scope.shouldWarn = function () {
	// 		return $scope.remaining() < 138;
	// 	};
	// };

	/**
	*  Module: TextAreaWithLimitCtrl
	*
	* Description
	*/
	angular.module('myApp', ['google-maps'])
		.controller('TextAreaWithLimitCtrl', function($scope, $window, $log, $sce, $timeout, $http){

			$http({method: 'GET', url: 'http://geoportal-geoportail.gc.ca/arcgis/rest/services/Reported_Observations_Aquatic_Invasive_Species_ENG/MapServer/layers?f=pjson'}).
			  success(function(data, status, headers, config) {
			  	$log.log(status);
			  	// remove underscore from names

			    (function(){
			    	data.layers.forEach(function(layer){
			    		layer.name = layer.name.split('_').join(' ').toLowerCase();
			    	})
				})();

			    $scope.data = data;
			    

			    // fix async

			 	$scope.map = {
				    center: {
				    latitude: 60.569345, 
	                longitude: -98.6327884
				    },
				    zoom: 4,
				    showMap: []
				};

				$scope.bounds =  {
		            sw: {
		                latitude: 48.444900000000075,
		                longitude: -123.43288299999995
		            },
		            ne: {
		                latitude: 49.31563300000005,
		                longitude: -123.13224399999996
		            	}
		        };  
			  }).
			  error(function(data, status, headers, config) {
			    $log.log("couldn't fetch JSON");
			  });

			
			$scope.getWhen = function (id) {
				if($scope.data.layers[id].timeInfo.timeExtent) {
					var date = new Date($scope.data.layers[id].timeInfo.timeExtent[0]);
					return date.getFullYear()
				} else {
					return "unknown";
				};
			};

			$scope.getBounds = function (id) {
				if($scope.data.layers[id].extent) {
					var bounds = {
			            sw: {
			                latitude: $scope.data.layers[id].extent.ymin,
			                longitude: $scope.data.layers[id].extent.xmin
			            },
			            ne: {
			                latitude: $scope.data.layers[id].extent.ymax,
			                longitude: $scope.data.layers[id].extent.xmax
			            }
			        };
					$scope.boundsArray.push(bounds);
				} else {
					return "unknown";
				};
			};

			$scope.map = {
			    center: {
			    latitude: 48.444900000000075,
                longitude: -123.43288299999995
			    },
			    zoom: 8
			};
			$scope.bounds =  {
		            sw: {
		                latitude: 0,
		                longitude: 0
		            },
		            ne: {
		                latitude: 4,
		                longitude: 4
		            }
		        };  
		    $scope.boundsArray = [];
		    $scope.wikiArray = [];

		    $scope.getWiki = function(id) {
		    	
		    	// get year invaded
		    	$scope.whenInvaded = "Year Invaded: " + $scope.getWhen(id); 
		    	// get new map center and zoom
		    	$scope.map.center = {
			                			latitude: ($scope.data.layers[id].extent.ymin + $scope.data.layers[id].extent.ymax)/2,
			                			longitude: ($scope.data.layers[id].extent.xmin + $scope.data.layers[id].extent.xmax)/2
			            			};
			    $scope.map.zoom = 7;


		    	if($scope.wikiArray[id]){
		    		$scope.wikiHTML = $sce.trustAsHtml($scope.wiki);
		    	}
		    	else {
		    		$http({method: 'GET', url: 'http://127.0.0.1:8000/?url=http%3A%2F%2Fen.wikipedia.org%2Fw%2Fapi.php%3Faction%3Dquery%26prop%3Dextracts%26format%3Djson%26exintro%3D%26titles%3Dhttp%3A%2F%2Fen.wikipedia.org%2Fw%2Fapi.php%3Faction%3Dquery%26prop%3Dextracts%26format%3Djson%26exintro%3D%26titles%3D'+ $scope.data.layers[id].name}).
					success(function(data, status, headers, config) {
				  		$log.log(status);

				  		for (var pageId in data.query.pages) {
						    if (data.query.pages.hasOwnProperty(pageId) && (data.query.pages[pageId].extract != undefined) && (data.query.pages[pageId].extract != "")) {
						        $scope.wiki = data.query.pages[pageId].extract;
						        $scope.wikiHTML = $sce.trustAsHtml($scope.wiki);
						        $scope.wikiArray = [];
						        $scope.wikiArray[id] = $scope.wikiHTML;
						    } else {
						    	$log.log("couldnt get extract");
						    	$scope.wiki = "Couldn't find Wikipedia Article"
						        $scope.wikiHTML = $sce.trustAsHtml($scope.wiki);
						        $scope.wikiArray[id] = $scope.wikiHTML;
						    }
						}
					   		
				   	}). 
				  	error(function(data, status, headers, config) {
				    	$log.log("couldn't fetch JSON");
				  	});
			 	};
		    	}

			    
			  



			
	})
		    

</script>

</html>
